@font-face {
    font-family: 'MinionProRegular';
    src: url('../fonts/MinionProRegular.eot');
    src: url('../fonts/MinionProRegular.eot') format('embedded-opentype'),
         url('../fonts/MinionProRegular.woff2') format('woff2'),
         url('../fonts/MinionProRegular.woff') format('woff'),
         url('../fonts/MinionProRegular.ttf') format('truetype'),
         url('../fonts/MinionProRegular.svg#MinionProRegular') format('svg');
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('../fonts/TradeGothicLT.eot');
    src: url('../fonts/TradeGothicLT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TradeGothicLT.woff2') format('woff2'),
        url('../fonts/TradeGothicLT.woff') format('woff'),
        url('../fonts/TradeGothicLT.ttf') format('truetype'),
        url('../fonts/TradeGothicLT.svg#TradeGothicLT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('../fonts/TradeGothicLT-Light.eot');
    src: url('../fonts/TradeGothicLT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TradeGothicLT-Light.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-Light.woff') format('woff'),
        url('../fonts/TradeGothicLT-Light.ttf') format('truetype'),
        url('../fonts/TradeGothicLT-Light.svg#TradeGothicLT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TradeGothic LT';
    src: url('../fonts/TradeGothicLT-Bold.eot');
    src: url('../fonts/TradeGothicLT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TradeGothicLT-Bold.woff2') format('woff2'),
        url('../fonts/TradeGothicLT-Bold.woff') format('woff'),
        url('../fonts/TradeGothicLT-Bold.ttf') format('truetype'),
        url('../fonts/TradeGothicLT-Bold.svg#TradeGothicLT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
