@import '~bootstrap/scss/bootstrap-grid';
@import 'fonts';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'TradeGothic LT';
    overflow-x: hidden;
    box-sizing: border-box;

    -webkit-tap-highlight-color: rgba($color-primary, .5);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: 'MinionProRegular';
    font-weight: normal;
    margin: 1rem 0 2rem;
}

h1 {
    font-size: 4.2rem;
    letter-spacing: .06rem;

    @include media-breakpoint-down(lg) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 2.2rem;
}

a {
    text-decoration: none;
    color: $color-primary;

    &:hover {
        text-decoration: underline;
    }
}

body .logo {
    @extend .serif;

    font-size: 2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.subtitle {
    letter-spacing: .06rem;
    color: $color-primary;
    font-weight: bold;
    text-transform: uppercase;
}

.bg-alt {
    background-color: $color-grey-light;
}

.bg-dark {
    background-color: $color-grey-dark;
}

.main-section {
    margin: 8rem 0;
}

.serif {
    font-family: 'MinionProRegular', 'Times New Roman', sans-serif;
}

.rel {
    position: relative;
}

button {
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .05rem;
    position: relative;

    border: 0;
    padding: 1rem 2rem;
    background: $color-primary;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: darken($color-primary, 10);
    }

    &.anim {
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: -3rem;
            left: -50%;
            background: #fff;
            width: 3rem;
            height: 10rem;
            opacity: .2;
            transform: rotate(35deg);
        }

        &:hover {

            &::after {
                left: 150%;
                transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }
}

button.round {
    background: transparent;
    border: 2px solid #1e1e1e;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;

    // transition: border-color .2s ease;

    // &:hover {
    //     border-color: #eaa25c;
    // }
}

p {
    line-height: 1.5;
    margin: 1.6rem 0;
    letter-spacing: -.003rem;

    &:first-child {
        margin-top: 0;
    }

    // &:last-child {
    //     margin-bottom: 0;
    // }
}

p.large {
    font-size: 1.5rem;
    color: $color-grey-medium;
}